
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: black;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex; 
}

header {
    background-color: black;
    color: grey;
    padding: 10px 0;
    text-align: center;
    width: 100%; 
}

.nav-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%; 
}

.nav-links div {
    margin: 0 10px;
}

.nav-links a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.destinations-list {
    flex: 1; 
    margin-right: 20px; 
}

.destinations-list h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.destinations-list ul {
    list-style-type: none;
    padding: 0;
}

.destinations-list li {
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.destinations-list li:last-child {
    border-bottom: none;
}

.destinations-list li:hover {
    background-color: #f2f2f2;
}

.destination-details {
    flex: 2; 
}

.destination-details h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.details-container {
    margin-top: 10px;
}

.details-container img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.details-container p {
    margin-bottom: 10px;
} 